[submodule "thirdparty/geographiclib"]
	path = thirdparty/geographiclib
	url = https://git.code.sf.net/p/geographiclib/code
[submodule "thirdparty/VTK"]
	path = thirdparty/VTK
	url = https://github.com/Kitware/VTK.git
[submodule "thirdparty/Rigid-Body-Parameters"]
	path = thirdparty/Rigid-Body-Parameters
	url = https://github.com/AntonSemechko/Rigid-Body-Parameters.git
[submodule "thirdparty/hypre/repo"]
	path = thirdparty/hypre/repo
	url = https://github.com/hypre-space/hypre.git
